@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  /* background: linear-gradient(180deg, #c9c7c7 0%, #fb060636 100%);
   */
   background-color:#E5E5E5;
  opacity: 0.9;
}
.banner-container {
  background-image: url('../src/images/background.png');
  background-size: 1px;
  z-index: 1;
}

.banner-container.dark {
  background-image: none;
}
header {
  z-index: 1000;
}
.subtitle{
  @apply  uppercase tracking-wide font-semibold text-lg;
}
.title{
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}